{{#each contact.pastExperiences as |experience|}}
  <li class='list-group-item'>
    <h4>{{experience.school}}</h4>
    <p>{{experience.degree}} - {{experience.major}}</p>
    <p>Minor: {{experience.minor}}</p>
  </li>
{{/each}}
