<div class='col-md-12'>
  <div class="jumbotron">
    <h1 class="display-3">Welcome to the Maraqopa County School District Directory</h1>
    <p class="lead">If you need to get in touch with a teacher or student you can find their contact info here.</p>
    <hr class="m-y-2">
    <p class="lead">
      {{link-to 'Go to the Directory' 'contacts' class='btn btn-primary btn-lg' role='button'}}
    </p>
  </div>
</div>
